<div>
  <div>
    <li style="font-size: medium">
      <strong>Email</strong>: horse6953@naver.com
    </li>
    <li style="font-size: medium">
      <strong>Blog</strong>:
      <a href="https://mun-kyeong.github.io/">mun-kyeong.github.io</a>
    </li>
    <li style="font-size: medium">
      <strong>Github</strong>:
      <a href="https://mun-kyeong.github.io/">mun-kyeong.github.io</a>
    </li>
    <li style="font-size: medium">
      <strong>LinkedIn</strong>:
      <a href="https://www.linkedin.com/in/mun-kyeong/"
        >linkedin.com/in/mun-kyeong
      </a>
    </li>
  </div>
  <div></div>
</div>
